@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CaterServ - Catering Services Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playball&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playball&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar start -->
    <div class="container-fluid nav-bar">
        <div class="container">
            <nav class="navbar navbar-light navbar-expand-lg py-4">
                <a href="index.html" class="navbar-brand">
                    <h1 class="text-primary fw-bold mb-0">Online<span class="text-dark">Catering</span> </h1>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    @{
                        var userType = Context.Session.GetString("UserType");
                        var userName = Context.Session.GetString("UserName");
                    }

                    @if (userType == "Customer")
                    {
                        <div class="navbar-nav mx-auto">
                            <a class="nav-item nav-link @(currentController == "Home" && currentAction == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="nav-item nav-link @(currentController == "Home" && currentAction == "About" ? "active" : "")" asp-controller="Home" asp-action="About">About</a>
                            <a class="nav-item nav-link @(currentController == "Home" && currentAction == "Service" ? "active" : "")" asp-controller="Home" asp-action="Service">Services</a>
                            <a class="nav-item nav-link @(currentController == "Customer" && currentAction == "Caterers" ? "active" : "")" asp-controller="Customer" asp-action="Caterers">Caterers</a>
                            <a class="nav-item nav-link @(currentController == "Home" && currentAction == "Contact" ? "active" : "")" asp-controller="Home" asp-action="Contact">Contact</a>
                            

                        </div>
                        @*                         <a class="nav-link nav-item text-dark" asp-controller="Login" asp-action="Logout">Logout</a>

 *@                   
         <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @userName
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li>
                                    <a class="dropdown-item" asp-controller="Customer" asp-action="Profile">Profile</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Login" asp-action="Logout">Logout</a>
                                </li>
                            </ul>
                        </div>


                    }
                    else if (userType == "Caterer")
                    {
                        <div class="navbar-nav mx-auto">
                            

                            <!-- Menu Dropdown -->
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark @(currentController == "Caterer" &&
        (currentAction == "Workers" || currentAction == "WorkerType" || currentAction == "Suppliers"
        || currentAction == "ListSupplierOrder" || currentAction == "RawMaterials"
        || currentAction == "Menu" || currentAction == "MenuCategory") ? "active" : "")"
                                   href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Resources
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
                                    <li><a class="dropdown-item @(currentAction == "Workers" ? "active" : "")" asp-controller="Caterer" asp-action="Workers">Workers</a></li>
                                    <li><a class="dropdown-item @(currentAction == "WorkerType" ? "active" : "")" asp-controller="Caterer" asp-action="WorkerType">Worker Types</a></li>
                                    <li><a class="dropdown-item @(currentAction == "Suppliers" ? "active" : "")" asp-controller="Caterer" asp-action="Suppliers">Suppliers</a></li>
                                    <li><a class="dropdown-item @(currentAction == "ListSupplierOrder" ? "active" : "")" asp-controller="Caterer" asp-action="ListSupplierOrder">Supplier Orders</a></li>
                                    <li><a class="dropdown-item @(currentAction == "RawMaterials" ? "active" : "")" asp-controller="Caterer" asp-action="RawMaterials">Raw Materials</a></li>
                                    <li><a class="dropdown-item @(currentAction == "Menu_Categories" ? "active" : "")" asp-controller="Caterer" asp-action="Menu_Categories">Menu Categories</a></li>
                                    <li><a class="dropdown-item @(currentAction == "listMenu" ? "active" : "")" asp-controller="Caterer" asp-action="listMenu">Menu Items</a></li>
                                </ul>
                            </div>


                            <!-- Others -->
                            <a class="nav-item nav-link text-dark @(currentController == "Message" && currentAction == "Chat" ? "active" : "")" asp-controller="Message" asp-action="Chat">Chats</a>

                            <a class="nav-item nav-link text-dark @(currentController == "Caterer" && currentAction == "Bookings" ? "active" : "")" asp-controller="Caterer" asp-action="Bookings">Bookings</a>

                            <a class="nav-item nav-link text-dark @(currentController == "Invoice" && currentAction == "Invoices" ? "active" : "")" asp-controller="Invoice" asp-action="Invoices">Invoices</a>

                        </div>


                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @userName
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                
                                <li><a class="dropdown-item" asp-controller="Login" asp-action="Logout">Logout</a></li>
                            </ul>
                        </div>

                    }
                    else
                    {
                        <div class="navbar-nav mx-auto">
                            <a class="nav-item nav-link @(currentController == "Home" && currentAction == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="nav-item nav-link @(currentController == "Home" && currentAction == "About" ? "active" : "")" asp-controller="Home" asp-action="About">About</a>
                            <a class="nav-item nav-link @(currentController == "Home" && currentAction == "Service" ? "active" : "")" asp-controller="Home" asp-action="Service">Services</a>
                            <a class="nav-item nav-link @(currentController == "Customer" && currentAction == "Caterers" ? "active" : "")" asp-controller="Customer" asp-action="Caterers">Caterers</a>
                            <a class="nav-item nav-link @(currentController == "Home" && currentAction == "Contact" ? "active" : "")" asp-controller="Home" asp-action="Contact">Contact</a>
                        </div>

                        <a class="nav-link nav-item text-dark @(currentController == "Login" && currentAction == "Login" ? "active" : "")" asp-controller="Login" asp-action="Login">Login</a>
                    }

                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    @RenderBody()

    <!-- Footer Start -->
    <div class="container-fluid footer py-6 my-6 mb-0 bg-light wow bounceInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h1 class="text-primary">Cater<span class="text-dark">Serv</span></h1>
                        <p class="lh-lg mb-4">There cursus massa at urnaaculis estieSed aliquamellus vitae ultrs condmentum leo massamollis its estiegittis miristum.</p>
                        <div class="footer-icon d-flex">
                            <a class="btn btn-primary btn-sm-square me-2 rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-sm-square me-2 rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square me-2 rounded-circle"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="btn btn-primary btn-sm-square rounded-circle"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="mb-4">Special Facilities</h4>
                        <div class="d-flex flex-column align-items-start">
                            <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Cheese Burger</a>
                            <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Sandwich</a>
                            <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Panner Burger</a>
                            <a class="text-body mb-3" href=""><i class="fa fa-check text-primary me-2"></i>Special Sweets</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="mb-4">Contact Us</h4>
                        <div class="d-flex flex-column align-items-start">
                            <p><i class="fa fa-map-marker-alt text-primary me-2"></i> 123 Street, New York, USA</p>
                            <p><i class="fa fa-phone-alt text-primary me-2"></i> (+012) 3456 7890 123</p>
                            <p><i class="fas fa-envelope text-primary me-2"></i> info@example.com</p>
                            <p><i class="fa fa-clock text-primary me-2"></i> 26/7 Hours Service</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="mb-4">Social Gallery</h4>
                        <div class="row g-2">
                            <div class="col-4">
                                <img src="@Url.Content("~/Image/menu-01.jpg")" class="img-fluid rounded-circle border border-primary p-2" alt="">
                            </div>
                            <div class="col-4">
                                <img src="@Url.Content("~/Image/menu-02.jpg")" class="img-fluid rounded-circle border border-primary p-2" alt="">
                            </div>
                            <div class="col-4">
                                <img src="@Url.Content("~/Image/menu-03.jpg")" class="img-fluid rounded-circle border border-primary p-2" alt="">
                            </div>
                            <div class="col-4">
                                <img src="@Url.Content("~/Image/menu-04.jpg")" class="img-fluid rounded-circle border border-primary p-2" alt="">
                            </div>
                            <div class="col-4">
                                <img src="@Url.Content("~/Image/menu-05.jpg")" class="img-fluid rounded-circle border border-primary p-2" alt="">
                            </div>
                            <div class="col-4">
                                <img src="@Url.Content("~/Image/menu-06.jpg")" class="img-fluid rounded-circle border border-primary p-2" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
   
    <!-- Back to Top -->
    <a href="#" class="btn btn-md-square btn-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>