@model OnlineCatering.Models.Menu

@{
    ViewData["Title"] = "detailMenu";
}

<h1>detailMenu</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Image" alt="Menu Image" width="150" />
        </dd>

        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Model.Category?.Category
        </dd>

    </dl>
</div>
<div>
    <a asp-action="editMenu" asp-route-id="@Model?.MenuItemNo">Edit</a> |
    <a asp-action="listMenu">Back to List</a>
</div>
